.botton{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align:center;
    text-decoration:none;
    font-family:'Arkanoid';
    display:inline-block;
    color: #FFF;
    background: #7F8C8D;
    padding: 30px 40px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 50px;
    margin:15px 5px;
    -webkit-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    margin-top: 0px;
}
#tablero{
    margin-left: 155px;
    position: absolute;
    background-color: #000000;
    border: 5px solid gray;
    height: 580px;
    width: 1000px;
    text-align: center;
}
.fondo{
    float: left;
    background: #3b2cc0;
    padding-left: 705px;
    padding-top: 580px;
    border-right: 5px solid gray;
}
.stats{
    float: left;
    background: #000000;
    width: 290px;
    height: 580px;
}
.highscore{
    padding-top: 40px;
    font-size: 1.5em;
    color: white;
}
.score{
    padding-top: 5px;
    font-size: 1.5em;
    color: white;
}
.vidas{
    padding-top: 25px;
    font-size: 1.5em;
    color: white;
}
body{
    background: black;
}
.nave{
    float: left;
    background: gray;
}
.nivel{
    padding-top: 25px;
    color: white;
    font-size: 2em;
}